{% extends "base.html" %}

{% block title %}Homepage{% endblock %}

{% block content %}
  <!-- Image header -->
  <div class="w3-display-container w3-container">
    <!--img src="/w3images/jeans.jpg" alt="Jeans" style="width:100%"-->
        <div class="w3-display-topleft w3-text-black" style="padding:24px 48px">
        <h1 class="w3-jumbo w3-hide-small">CloSets</h1>
        <h1 class="w3-hide-large w3-hide-medium">CloSets</h1>
        <h1 class="w3-hide-small">Fashion, functionality, and flexibility, right at your fingertips!</h1>
        </div>
    </div>
{% endblock %}
